# Dependencies
node_modules/

# Logs
*.log
.sync.log
.sync.log.*

# Caches & temps
.cache/
.tmp/
tmp/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Env & local configs
.env
.env.local
*.local

# Editors
.vscode/
.idea/
